<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80001120434-e2k0vste4hk3hsi7n8piq1otrg90fk6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80001120434-e2k0vste4hk3hsi7n8piq1otrg90fk6o</string>
	<key>API_KEY</key>
	<string>AIzaSyByI0hPCkpX_h2QQV0hfiUbd_kMVJaOFe0</string>
	<key>GCM_SENDER_ID</key>
	<string>80001120434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokyoFlutterHackDemo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tokyo-flutter-hack-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>tokyo-flutter-hack-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80001120434:ios:460163126f575c7b6d71ab</string>
</dict>
</plist>